<h1>Change Log</h1>
<pre>

<p>v2.3.0    Fixed a couple crashing issues with map, added API name. [TIMOB-18244]</p>
<p>v2.2.5    Fixed the example. [MOD-2073]</p>
<p>v2.2.4    Added support for density-specific images for leftButton and rightButton properties. [MOD-1771]</p>
<p>v2.2.3    Update signature of addAnnotations method.[TIMOB-17988]
          Adding architectures to manifest [TIMOB-18065]</p>
<p>v2.2.2    Update Google Play Services library and assets. [TIMODOPEN-451]</p>
<p>v2.2.1    Update Google Play Services library and assets. [TIMOB-17884]</p>
<p>v2.2.0    Bumping minsdk to 3.3.0 [TIMOB-17048]</p>
<p>v2.1.6    Handle null values for attributes. [TIMOB-16562]</p>
<p>v2.1.5    Update Google Play Services library and its assets. [TIMOB-16510]</p>
<p>v2.1.4    Implement tilt, bearing, zoom, compassEnabled properties [TIMOB-16180].
          Implement maxZoomLevel, minZoomLevel, update Google Play Services SDK [TIMOB-16180].
          Implement support for taking snapshots of the map [TIMOB-16180]</p>
<p>v2.1.3    Fixed memory leak when removing map instance from window [TIMOB-14772].
          Added longClick event support [TIMOB-13989].
          Added support for showInfoWindow property for annotations [TIMOB-12787].
          Added a workaround for: https://code.google.com/p/android/issues/detail?id=11676 [TIMOB-15565].
          Added support for zOrderOnTop [TIMOB-13628].
          Updated Google Play Services SDK. [TIMOB-15591].
          Updated manifest permissions in timodule.xml [TIMOB-14899].</p>
<p>v2.1.2    Clicking on an annotation should center it in map view [TIMOB-13778].
          Fixed a bug where removing an annotation using its title crashed the app [TIMOB-14502].
          Updated Google Play Services SDK.
          Fixed a bug where add/remove annotations didn't modify map's 'annotations' property correctly [TIMOB-14761].</p>
<p>v2.1.1    Added isGooglePlayServicesAvailable [TIMOB-14075].
          Added the userLocationButton property [TIMOB-13003].</p>
<p>v2.1.0    Added the pinchangedragstate event to the Map View.
          Supported custom views for the pin.
          Added the enableZoomControls property to enable/disable zoom controls.
          Added the support of leftButton, leftView, rightButton and leftView for annotations.
          Added the setLocation and zoom methods.
          Updated the minsdk version to 3.1.0.</p>
<p>v2.0.0    Initial Release</p>